.appLayout {
  position: relative;
  padding: 1.25em 1em 0em;
  background-image: url("../../../static/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.appContent {
  min-height: 100vh;
}
.appHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
